:root {
  /* Colors */
  --clr-primary-200: hsl(110, 96%, 78%);
  --clr-primary-400: #a463b5;

  --clr-neutral-100: #f7ebdd;
  --clr-neutral-900: #bbbbbb;

  --clr-bg: #000

  /* Typography */

  --ff-size: 62.5%;
  --ln-height: 1.4;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Merriweather', serif;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}

br {
  display: none;
}
a {
  text-decoration: none;
}
/* Invisible Scrollbar */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Defaults */

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.list {
  display: flex;
  list-style: none;
  justify-content: center;
}

/* Main */
body {
  font-size: var(--ff-size);
  line-height: var(--ln-height);
  font-family: var(--ff-primary);
}

/* Nav */

.img-logo {
  max-height: 5em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-height: 7em;
}

.nav-item {
  color: #000;
  padding: 0.25em 2em 0.25em 2em;
  font-size: 2em;
  text-align: center;
}

.nav-item:hover {
  background-color: var(--clr-neutral-900);
}

.nav-item:active {
  background-color: var(--clr-primary-400);
  color: #fff;
}

/*  */