:root {
  /* Colors */
  --clr-primary-300: hsl(37, 100%, 72%);
  --clr-primary-500: hsl(37, 100%, 52%);
  --clr-primary-700: hsl(37, 100%, 32%);

  --clr-secondary-300: hsl(120, 67%, 65%);
  --clr-secondary-500: hsl(120, 67%, 45%);
  --clr-secondary-700: hsl(120, 67%, 25%);

  --clr-neutral-100: hsl(32, 62%, 90%);
  --clr-neutral-900: hsl(0, 0%, 10%);

  --clr-rasta-gradient: linear-gradient(to right, #07db00, #ffff00, #ff0000);

  /* Typography */

  --ff-size: 62.5%;
  --ln-height: 1.4;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Merriweather', serif;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Defaults */

body {
  font-size: var(--ff-size);
  line-height: var(--ln-height);
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-100);
  /* min-height: 100vh; */
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  max-height: 12em;
  padding: 1em;
}

.rasta-colors {
  background: var(--clr-rasta-gradient);
}

/* Card Styles */

.card-container {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-radius: 2em;
  padding: 1.4em;
  gap: 1.4em;
  color: var(--clr-primary-300);
  background-color: var(--clr-secondary-700);
  width: 70em;
}

.card img {
  height: 40em;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  gap: 2em;
  width: 40em;
}

.card-description h1 {
  font-size: 2.6em;
}

.card-description p {
  font-size: 1.8em;
}

.card-buttons {
  padding: 0.5em;
  gap: 1em;
}

.card-buttons button {
  font-size: 2em;
  border: none;
  padding: 0.75em;
  background-color: var(--clr-primary-500);
  border-radius: 0.4em;
  transition: transform 0.2s;
  box-shadow: 0 0.8em 1em 0 hsla(0, 0%, 0%, 0.2);
  
}

.card-buttons button:hover {
  transform: scale(1.1);
}

.card-buttons a {
  color: var(--clr-neutral-900);
  font-weight: bold;
}

/* Nav */

.nav-menu {
  display: flex;
  gap: 2em;
}

.nav-item {
  display: block;
  color: black;
  padding: 0.25em 2em 0.25em 2em;
  font-size: 2em;
  text-align: center;
  max-height: 10em;
  border-radius: 1em;
  border: 0.01em solid black;
  background-color: var(--clr-primary-500);
}

/* .nav-item:hover {
  background-color: var(--clr-secondary-700);
  color: var(--clr-primary-500);
} */

.nav-item:hover .nav-dropdown > li {
  display: block;
  top: 0;
}

.nav-item:active {
  background-color: var(--clr-secondary-500);
  color: var(--clr-primary-500);
}

.nav-dropdown li {
  display: none;
  position: relative;
}

/* Welcome Page */
.landing {
  background-image: url(/assets/wholesale-landing-temp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
}

.welcome-container {
  flex-direction: column;
  background-color: hsla(120, 67%, 25%, 0.75);
  border-radius: 2em;
}

.welcome-container h1 {
  color: var(--clr-primary-500);
  font-size: 4em;
  padding: 1em 1em 0.5em 1em;
}

.welcome-container h2 {
}

.welcome-container > p {
  color: whitesmoke;
  font-size: 2.1em;
  max-width: 33em;
  padding: 0.5em 1em 1em 1em;
  /* text-align: left; */
  text-align: justify;
}

.welcome-container button {
}

.welcome-products-container > h1 {
  font-size: 3em;
  padding: 1em 0;
}

.welcome-products-cards {
  background-color: var(--clr-primary-500);
  padding: 5em 0;
  width: 100%;
  justify-content: space-evenly;
}

/* Products Page */

.rasta-border {
  border-radius: 2em;
  padding: 1em;
  box-shadow: 0 0.8em 1em 0 hsla(0, 0%, 0%, 0.2);
  background: linear-gradient(to bottom right, #07db00, #ffff00, #ff0000);
}

/* Contact Page */

/* Footer */

footer {
  height: 4em;

  background-color: #333333;
}

p.copyright {
  color: #fff;
  font-size: 1em;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media (min-width: 801px) {
} */
